{% extends "base/vertical_base.html" %}

{% block page_content %}
<style>
    th, td {
      padding-top: 20px;
      padding-bottom: 20px;
      white-space: nowrap;
      text-align: center;
      border-left: 1px solid #dee2e6; /* Añade bordes a la izquierda de las celdas */
      border-right: 1px solid #dee2e6; /* Añade bordes a la derecha de las celdas */
      border-bottom: 1px solid #dee2e6 !important;
    }
</style>
<div class="col mt-2">
  <div class="card">
      <div class="card-header">
          <div class="row align-items-center">
              <div class="col">                      
                  <h4 class="card-title">Usuarios</h4>                      
              </div><!--end col-->                                        
          </div><!--end row-->                                  
      </div><!--end card-header-->
      <div class="card-body">
          <div class="table-responsive">
              <table class="table mb-0">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-top-0">Nombre</th>
                          <th class="border-top-0">Apellido</th>
                          <th class="border-top-0">Nombre de Usuario</th>
                          <th class="border-top-0">Correo Electrónico</th>
                          <th class="border-top-0">Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <!-- Icono de editar -->
                            <a href="{% url 'editar_user' pk=user.pk %}" class="btn btn-sm btn-primary me-2">
                                <i class="fas fa-edit"></i>
                            </a>
                            <!-- Icono de borrar -->
                            <a href="{% url 'eliminar_user' pk=user.pk %}" class="btn btn-sm btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table> 
          </div><!--end table-responsive--> 
      </div><!--end card-body--> 
  </div><!--end card--> 
</div><!--end col-->
<a href="{% url 'crear_user' %}" class="btn btn-primary">Crear usuario</a>
{% endblock %}