:root {
  --Marine-blue: #263a98;
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: #f1f4f7;
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
}
img {
  max-width: 100%;
}
.lg-formulario{
  height: 90px;
  margin-bottom: 20px;
  margin-left: 25%;      
} 
body {
  background-color: var(--Magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form {
  width: 98%;
  background-color: var(--White);
  border-radius: 1rem;
  box-shadow: 0px 0px 1px black;
  margin: 1% 0;
}
.form-container {
  display: flex;
  padding: 1rem;
  border-radius: 15px;
  border: solid 1px #ffffff;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.1);
}
.form-sidebar {
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-size: cover;
  border-radius: 15px;
}
.circle {
  width: 40px;
  height: 40px;
  border: 2px solid var(--White);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--White);
  font-weight: 700;
}
.active .circle {
  background-color: var(--Light-blue) !important;
  color: var(--Marine-blue) !important;
}
.err {
  border: 2px solid var(--Strawberry-red) !important;
}
.step {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.step-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.step-content span {
  text-transform: uppercase;
  color: var(--Light-gray);
  font-size: 13px;
}
.step-content b {
  text-transform: uppercase;
  color: var(--White);
}
.stp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stp .header {
  margin-bottom: auto;
  padding-top: 0.5rem;
  line-height: 2.5rem;
}
.header .title {
  color: var(--Marine-blue);
}
.header .exp {
  color: var(--Cool-gray);
}
.next-stp, .prev-stp{
  border: none;
  padding: 1rem 2rem;
  border-radius: 7px;
  cursor: pointer;
}


/* STEP 1 */
.step-1 {
  display: flex;
}
/* STEP 2 */
.step-2 {
  display: none;
}
/* STEP 3 */
.step-3 {
  display: none;
}
/* STEP 4 */
.step-4 {
  display: none;
}
/* STEP 5 */
.step-5 {
  display: none;
}
/* STEP 6 */
.step-6 {
  display: none;
}
/* STEP 7 */
.step-7 {
  display: none;
}
/* STEP 8 */
.step-8 {
  display: none;
}
/* STEP 9 */
.step-9 {
  display: none;
}
/* STEP 10 */
.step-10 {
  display: none;
}
/* STEP 11 */
.step-11 {
  display: none;
}
/* STEP 12 */
.step-12 {
  display: none;
}
/* STEP 13 */
.step-13 {
  display: none;
}
/* STEP 14 */
.step-14 {
  display: none;
}
/* SWITCH classes */
.switcher {
  background-color: var(--Magnolia);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 5rem;
  justify-content: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.form-row{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.form-group{
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
}
form input{
  width: 100%;
}
.label{
  padding: 0.5rem 0;
}
@media screen and (max-width: 1320px) {
  .lg\:w-8\/12{
    width: 100%!important;
    display: grid;
  }
  .lg\:w-10\/12{
    width: 100%!important;
  }
  .columna-iz{
    margin-right: 0px;
    margin-bottom: 1.5rem;
  }
  .form-sidebar {
    display: grid; /* Utiliza grid en lugar de flexbox */
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Crea columnas automáticas con un ancho mínimo de 200px y que se ajusten al tamaño disponible */
    gap: 1rem; /* Ajusta el espacio entre las columnas si es necesario */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  /* Ajusta el estilo de los círculos y el contenido */
  .circle {
    width: 40px;
    height: 40px;
    border: 2px solid var(--White);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    font-weight: 700;
  }
  
  .step-content {
    color: var(--Light-gray);
    font-size: 13px;
    text-transform: uppercase;
  }

/* Ajusta el estilo del botón */
  .lg\:w-2\/12{
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .pr-4{
    padding-right: 0px;
  }
}