<div class="stp step-4">
    <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
        Financiamiento y Soporte Tecnológico
    </h6>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="recursos_multimedia">
                    ¿Cuentan con recursos multimedia en el Centro Educativo?
                    <div class="mt-2 px-4">
                        <label class="inline-flex items-center">
                            <input type="radio" name="recursos_multimedia" value="si" class="br-input recursos-multimedia text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="recursos_multimedia" value="no" class="br-input recursos-multimedia text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                        </label>
                    </div>
                </label>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden material-multimedia-ingles">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="material_multimedia">
                    ¿El Centro Educativo cuenta con suficiente material multimedia?
                </label>
                <p class="text-sm mt-1 text-gray-600">Un material multimedia en educación es un recurso que combina dos
                    o más medios (texto, imágenes, audio, video, animaciones, etc.) para presentar información de forma
                    interactiva y atractiva. Estos materiales se utilizan para apoyar el proceso de
                    enseñanza-aprendizaje en diferentes contextos educativos.</p>

                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="material_multimedia" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300" id="material-multimedia-muy-en-desacuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="material_multimedia" value="desacuerdo"
                            class="text-[#483eff] border-gray-300" id="material-multimedia-desacuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="material_multimedia" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300" id="material-multimedia-de-acuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="material_multimedia" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300" id="material-multimedia-muy-de-acuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden material-multimedia-ingles">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="materiales_multimedia_DVD">
                    ¿Con cuántos materiales multimedia cuenta el Centro educativo? (CD, DVD, MP4, Servicios de
                    Streaming, otros)
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="materiales_multimedia_DVD" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300" id="materiales-multimedia-muy-en-desacuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="materiales_multimedia_DVD" value="desacuerdo"
                            class="text-[#483eff] border-gray-300" id="materiales-multimedia-desacuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="materiales_multimedia_DVD" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300" id="materiales-multimedia-de-acuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="materiales_multimedia_DVD" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300" id="materiales-multimedia-muy-de-acuerdo">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="software-ingles">
                    ¿Cuentan con un software de inglés usado en las escuelas bilingües, para el aprendizaje del inglés?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="software-ingles" value="si" class="software-ingles-btn text-[#483eff] border-gray-300"
                            id="software-ingles-si">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="software-ingles" value="no" class="software-ingles-btn text-[#483eff] border-gray-300"
                            id="software-ingles-no">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden software-ingles-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="software_ingles_cantidad">
                    Cantidad de software de inglés usado en las escuelas bilingües, para el aprendizaje del inglés.
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="software_ingles_cantidad" value="0"
                            class="text-[#483eff] border-gray-300" id="software-ingles-cantidad-0">
                        <span class="ml-2 text-sm font-medium text-[#233559]">0 (No hay)</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="software_ingles_cantidad" value="1"
                            class="text-[#483eff] border-gray-300" id="software-ingles-cantidad-1">
                        <span class="ml-2 text-sm font-medium text-[#233559]">1 (Hay)</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="software_ingles_cantidad" value="2"
                            class="text-[#483eff] border-gray-300" id="software-ingles-cantidad-2">
                        <span class="ml-2 text-sm font-medium text-[#233559]">2 (Hay)</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="software_ingles_cantidad" value="mas_de_2"
                            class="text-[#483eff] border-gray-300" id="software-ingles-cantidad-mas-de-2">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Más de 2</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden software-ingles-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="software-input">
                    Mencione los softwares de inglés usado en las escuelas bilingües, para el aprendizaje del inglés
                </label>
                <div class="flex items-center px-4 py-1 justify-between">
                    <input type="text" id="software-input"
                        class="pr-2 mr-2 software-input w-full border-gray-300 rounded-lg shadow-sm focus:border-[#483eff] focus:ring-[#483eff] shadow-blue-500/50 shadow-sm"
                        placeholder="Escriba el nombre" style="transition: all 0.15s ease 0s;">
                    <button type="button" id="add-software"
                        class="ml-2 px-4 py-2 text-white rounded-lg">Añadir</button>
                </div>
                <div class="px-4">
                    <ul id="software-list" class="list-disc pl-8">
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="w-full lg:w-6/12 px-4 mb-3 hidden software-ingles-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="licencias_softwares">
                    Los softwares requieren licencias renovables para su uso o tienen licencias perpetuas (de libre
                    acceso en el tiempo)
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="licencias_softwares" value="si"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="licencias_softwares" value="no"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden software-ingles-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="acceso_internet_softwares">
                    Los softwares disponibles requieren acceso a internet para funcionar?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="acceso_internet_softwares" value="no_requieren"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No requieren</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="acceso_internet_softwares" value="si_requieren"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí requieren</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-6/12 px-4 mb-3 hidden software-ingles-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="usuarios_disponibles">
                    ¿Cuántos usuarios tienen disponibles para el uso de los estudiantes?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="usuarios_disponibles" value="0"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">0 (No hay)</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="usuarios_disponibles" value="uno_por_estudiante"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Uno por estudiante</span>
                    </label><br>
                    <label class="inline-flex items-center flex-col text-sm font-medium text-[#233559]">
                        <input type="radio" name="usuarios_disponibles" value="menos_de_uno_por_estudiante"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2">Menos de uno por estudiante (comparten licencia)</span>

                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="cuenta_con_internet">
                    ¿Cuentan con internet?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="cuenta_con_internet" value="si"
                            class="br-input text-[#483eff] border-gray-300 cuenta-internet-btn">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="cuenta_con_internet" value="no"
                            class="br-input text-[#483eff] border-gray-300 cuenta-internet-btn">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]">
                    Tipo de enlace de internet
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" name="tipo_enlace_internet" value="coaxial"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Coaxial</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="checkbox" name="tipo_enlace_internet" value="fibra_optica"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Fibra óptica</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="checkbox" name="tipo_enlace_internet" value="satelital"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Satelital</span>
                    </label>
                </div>
            </div>
        </div>


        <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="ancho-banda">
                    Ancho de banda (velocidad) de Conexion de Internet
                </label>
                <div class="flex items-center px-4 py-2">
                    <input type="number" name="ancho_banda" id="ancho-banda"
                        class="mr-2 pr-2 w-1/2 border-gray-300 rounded-lg shadow-sm focus:border-[#483eff] focus:ring-[#483eff] shadow-blue-500/50 shadow-sm"
                        placeholder="Velocidad" style="transition: all 0.15s ease 0s;">
                    <span class="ml-2 pl-2 font-bold text-[#233559]">Mbps</span>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="wifi_solucion_existencia">
                    ¿Cuentan con una solución de Wifi o red inalámbrica en el centro educativo?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="wifi_solucion_existencia" value="true"
                            class="text-[#483eff] border-gray-300" id="wifi-solucion-existencia-si">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="wifi_solucion_existencia" value="false"
                            class="text-[#483eff] border-gray-300" id="wifi-solucion-existencia-no">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="alcance_wifi">
                    ¿Alcance de la solución Wifi o red inalámbrica en el centro educativo? (dirección, salón de profesores,
                    laboratorio, salones de clases u otros, incluir detalles para selección)
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="alcance_wifi" value="cobertura_parcial" class="text-[#483eff] border-gray-300"
                            id="alcance-wifi-parcial">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Cobertura Parcial</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="alcance_wifi" value="cobertura_completa"
                            class="text-[#483eff] border-gray-300" id="alcance-wifi-completa">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Cobertura Completa</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
              <label class="block text-sm font-bold text-[#233559]" for="wifi_cobertura">
                ¿Qué porcentaje de cobertura considera que tiene esta solución Wifi o red inalámbrica en el centro educativo?
              </label>
              <div class="mt-2 px-4">
                <label class="inline-flex items-center">
                  <input type="radio" name="wifi_cobertura" value="0-24" class="text-[#483eff] border-gray-300" id="wifi-cobertura-0-24">
                  <span class="ml-2 text-sm font-medium text-[#233559]">0 - 24%</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="wifi_cobertura" value="25-49" class="text-[#483eff] border-gray-300" id="wifi-cobertura-25-49">
                  <span class="ml-2 text-sm font-medium text-[#233559]">25 - 49%</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="wifi_cobertura" value="50-74" class="text-[#483eff] border-gray-300" id="wifi-cobertura-50-74">
                  <span class="ml-2 text-sm font-medium text-[#233559]">50 - 74%</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="wifi_cobertura" value="75-100" class="text-[#483eff] border-gray-300" id="wifi-cobertura-75-100">
                  <span class="ml-2 text-sm font-medium text-[#233559]">75 - 100%</span>
                </label>
              </div>
            </div>
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
              <label class="block text-sm font-bold text-[#233559]" for="acceso_wifi_administrativos">
                ¿Los administrativos tienen acceso a la red de solución wifi o red inalámbrica?
              </label>
              <div class="mt-2 px-4">
                <label class="inline-flex items-center">
                  <input type="radio" name="acceso_wifi_administrativos" value="si" class="text-[#483eff] border-gray-300" id="acceso-wifi-administrativos-si">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Si</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="acceso_wifi_administrativos" value="no" class="text-[#483eff] border-gray-300" id="acceso-wifi-administrativos-no">
                  <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                </label>
              </div>
            </div>
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
              <label class="block text-sm font-bold text-[#233559]" for="acceso_wifi_docentes">
                ¿Los docentes tienen acceso a la red de solución wifi o red inalámbrica?
              </label>
              <div class="mt-2 px-4">
                <label class="inline-flex items-center">
                  <input type="radio" name="acceso_wifi_docentes" value="si" class="text-[#483eff] border-gray-300" id="acceso-wifi-docentes-si">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Si</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="acceso_wifi_docentes" value="no" class="text-[#483eff] border-gray-300" id="acceso-wifi-docentes-no">
                  <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                </label>
              </div>
            </div>
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
              <label class="block text-sm font-bold text-[#233559]" for="acceso_wifi_estudiantes">
                ¿Los estudiantes tienen acceso a la red de solución wifi o red inalámbrica?
              </label>
              <div class="mt-2 px-4">
                <label class="inline-flex items-center">
                  <input type="radio" name="acceso_wifi_estudiantes" value="si" class="text-[#483eff] border-gray-300" id="acceso-wifi-estudiantes-si">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Si</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="acceso_wifi_estudiantes" value="no" class="text-[#483eff] border-gray-300" id="acceso-wifi-estudiantes-no">
                  <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                </label>
              </div>
            </div>
          </div>

          <div class="w-full lg:w-6/12 px-4 mb-3 hidden cuenta-internet-hidden">
            <div class="relative w-full mb-3">
              <label class="block text-sm font-bold text-[#233559]" for="percepcion_velocidad">
                ¿Cuál es su percepción sobre la velocidad de la red de solución wifi o red inalámbrica de internet?
              </label>
              <div class="mt-2 px-4">
                <label class="inline-flex items-center">
                  <input type="radio" name="percepcion_velocidad" value="muy_mala" class="text-[#483eff] border-gray-300" id="percepcion-velocidad-muy-mala">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Muy Mala</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="percepcion_velocidad" value="mala" class="text-[#483eff] border-gray-300" id="percepcion-velocidad-mala">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Mala</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="percepcion_velocidad" value="regular" class="text-[#483eff] border-gray-300" id="percepcion-velocidad-regular">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Regular</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="percepcion_velocidad" value="buena" class="text-[#483eff] border-gray-300" id="percepcion-velocidad-buena">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Buena</span>
                </label><br>
                <label class="inline-flex items-center">
                  <input type="radio" name="percepcion_velocidad" value="muy_buena" class="text-[#483eff] border-gray-300" id="percepcion-velocidad-muy-buena">
                  <span class="ml-2 text-sm font-medium text-[#233559]">Muy Buena</span>
                </label>
              </div>
            </div>
          </div>
    </div>

    <!-- -->

    <div class="btns flex justify-between">
        <div class="prev-stp-4 visita mt-6 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="button">Atrás</div>

            <div class="visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer" type="submit">
                <span class="block">Guardar y continuar luego</span>
            </div>

            <div id="nxtButton-4"
            class="next-stp-4 visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit" style="cursor: pointer;">Siguiente</div>
    </div>

    
    <script>
        // Script to do list Mencione los softwares de inglés usado en las escuelas bilingües, para el aprendizaje del inglés
        let isEditing = false;
let currentItem = null;

document.getElementById('add-software').addEventListener('click', function () {
    var input = document.getElementById('software-input');
    var list = document.getElementById('software-list');
    var softwareName = input.value.trim();
    var addButton = document.getElementById('add-software');

    if (isEditing) {
        // Actualizar el elemento existente
        currentItem.textContent = softwareName;
        addButton.textContent = 'Añadir';
        isEditing = false;
        currentItem = null;
    } else if (softwareName) {
        // Añadir nuevo elemento
        var listItem = document.createElement('li');
        var textSpan = document.createElement('span');
        textSpan.textContent = softwareName;
        listItem.appendChild(textSpan);

        var deleteBtn = document.createElement('span');
        deleteBtn.innerHTML = ' <i class="fas fa-trash" title="Eliminar"></i>';
        deleteBtn.onclick = function () {
            list.removeChild(listItem);
        };
        listItem.appendChild(deleteBtn);

        var editBtn = document.createElement('span');
        editBtn.innerHTML = ' <i class="fas fa-edit" title="Editar"></i>';
        editBtn.onclick = function () {
            input.value = textSpan.textContent;
            addButton.textContent = 'Editar';
            isEditing = true;
            currentItem = textSpan;
        };
        listItem.appendChild(editBtn);

        list.appendChild(listItem);
    } else {
        alert('Por favor, escriba el nombre de un software.');
    }

    input.value = ''; // Limpiar el campo de entrada después de añadir o editar
});

        // Script para ocultar preguntas y respuestas dependiendo de la respuesta RECURSOS MULTIMEDIA CE Recursos multimedia
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.w-full').addEventListener('change', function (e) {
                if (e.target.classList.contains('recursos-multimedia')) {
                    const mostrar = e.target.value === 'si';
                    document.querySelectorAll('.material-multimedia-ingles').forEach(pregunta => {
                        pregunta.classList.toggle('hidden', !mostrar);
                        if (!mostrar) {
                            pregunta.querySelectorAll('input[type="radio"]').forEach(input => input.checked = false);
                        }
                    });
                }
            });
        });

        //Mostrar ocultar si no software ingles
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.w-full').addEventListener('change', function (e) {
                if (e.target.classList.contains('software-ingles-btn')) {
                    const mostrar = e.target.value === 'si';
                    document.querySelectorAll('.software-ingles-hidden').forEach(pregunta => {
                        pregunta.classList.toggle('hidden', !mostrar);
                        if (!mostrar) {
                            pregunta.querySelectorAll('input[type="radio"]').forEach(input => input.checked = false);
                        }
                    });
                }
            });
        });

        
        // Mostrar ocultar si/ no intenet
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.w-full').addEventListener('change', function (e) {
                if (e.target.classList.contains('cuenta-internet-btn')) {
                    const mostrar = e.target.value === 'si';
                    document.querySelectorAll('.cuenta-internet-hidden').forEach(pregunta => {
                        pregunta.classList.toggle('hidden', !mostrar);
                        if (!mostrar) {
                            pregunta.querySelectorAll('input[type="radio"]').forEach(input => input.checked = false);
                        }
                    });
                }
            });
        });


          // boton atras
    const prevButton4 = document.querySelector('.prev-stp-4');
    prevButton4.addEventListener('click', function(event){
            document.querySelector('.step-4').style.display = "none";
            document.querySelector('.step-3').style.display = "flex";
    })

    

    // validaciones
    document.getElementById('nxtButton-4').addEventListener('click', function (e) {
        e.preventDefault();

        const checkCuentaInternet = document.querySelector('input[name="cuenta_con_internet"]:checked')
        const cuentanConInternet = validateRadioGroup('cuenta_con_internet');
        const cuentaSoftwareIngles = validateRadioGroup('software-ingles');
        const checkCuentasSoftwareIngles = document.querySelector('input[name="software-ingles"]:checked')
        const cuentaConRecursosMultimedia = validateRadioGroup('recursos_multimedia');
        const checkCuentaConRecursos = document.querySelector('input[name="recursos_multimedia"]:checked')
        

        var centroEduCuentaMU = true
        var cuentaMaterialesMultimediaCE = true
        if (checkCuentaConRecursos.value === 'si'){
            cuentaMaterialesMultimediaCE = validateRadioGroup('materiales_multimedia_DVD');
            centroEduCuentaMU = validateRadioGroup('material_multimedia');
        }

        var cantidadSoftware = true;
        var listaSoftware = true;
        var softwareRequiereLicencia = true;
        var softwareReqInternet = true
        var cuantosUsuariosDisponibles = true;

        if (checkCuentasSoftwareIngles.value === 'si') {
            cuantosUsuariosDisponibles = validateRadioGroup('usuarios_disponibles');
            softwareReqInternet = validateRadioGroup('acceso_internet_softwares');
            softwareRequiereLicencia = validateRadioGroup('licencias_softwares');
            if (!validateSoftwareList()) {
                const inputSoftware = document.getElementById('software-input');
                inputSoftware.setCustomValidity('Por favor, añada al menos un software a la lista.');
                inputSoftware.reportValidity(); 
                listaSoftware = false;
            } else {
                document.getElementById('software-input').setCustomValidity('');
            }
            cantidadSoftware = validateRadioGroup('software_ingles_cantidad');
        }

        function validateSoftwareList() {
            const softwareList = document.getElementById('software-list');
            return softwareList.getElementsByTagName('li').length > 0;
        }

        var tipoEnlaceInternet = true;
        var anchoBanda = true;
        var cuentaWifi = true;
        var alcanceWifi = true;
        var porcentajeCobertura = true;
        var administrativosAcceso = true;
        var docenteAccesoWifi = true;
        var estudiantesAccesoWifi = true;
        var percepcionVelocidadWifi = true;
        if(checkCuentaInternet.value == 'si'){
            percepcionVelocidadWifi = validateRadioGroup('percepcion_velocidad');
            estudiantesAccesoWifi = validateRadioGroup('acceso_wifi_estudiantes');
            docenteAccesoWifi = validateRadioGroup('acceso_wifi_docentes');
            administrativosAcceso = validateRadioGroup('acceso_wifi_administrativos');
            porcentajeCobertura = validateRadioGroup('wifi_cobertura');
            alcanceWifi = validateRadioGroup('alcance_wifi');
            cuentaWifi = validateRadioGroup('wifi_solucion_existencia');
            anchoBanda = validateInput(document.getElementById('ancho-banda'));
            tipoEnlaceInternet = validateCheckboxGroup('tipo_enlace_internet');
        }


        if (percepcionVelocidadWifi && estudiantesAccesoWifi && docenteAccesoWifi && administrativosAcceso && porcentajeCobertura && alcanceWifi && cuentaWifi && anchoBanda && tipoEnlaceInternet && checkCuentaInternet && cuentanConInternet && cuantosUsuariosDisponibles && softwareReqInternet && softwareRequiereLicencia && listaSoftware && cuentaSoftwareIngles && cantidadSoftware && cuentaMaterialesMultimediaCE && centroEduCuentaMU && cuentaConRecursosMultimedia) {
            document.querySelector('.step-5').style.display = "flex";
            document.querySelector('.step-4').style.display = "none";
        }
    });
        
    </script>
</div>