<div class="stp step-8">
    <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
        Uso del Ingles en el Entorno Educativo
    </h6>

    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 pr-4">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="after-school-existencia">
                    Durante la realización de actividades especiales en inglés, describa la frecuencia en la que interactúan los actores mencionados a continuación, en el idioma inglés: entre docentes y administrativos del centro educativo
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Nunca o Casi Nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Algunas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Muchas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Siempre o Casi Siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>

            </div>
        </div>

        <!-- Pregunta 2 -->
        <div class="w-full lg:w-6/12 pr-4">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="after-school-existencia">
                    Durante la realización de actividades especiales en inglés, describa la frecuencia en la que interactúan los actores mencionados a continuación, en el idioma inglés: docentes de inglés, docentes y estudiantes del CE
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Nunca o Casi Nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Algunas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Muchas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="detalle_actividades_anual" value="Siempre o Casi Siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
        Otras asignaturas dictadas en Ingles
    </h6>

    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 pr-4">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="frecuencia-ingles-clase">
                    ¿Con qué frecuencia habla inglés con sus estudiantes durante las horas de clase de su asignatura?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-ingles-clase" value="Nunca o Casi Nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-ingles-clase" value="Algunas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-ingles-clase" value="Muchas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-ingles-clase" value="Siempre o Casi Siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <!-- Pregunta 2 -->
        <div class="w-full lg:w-6/12 pr-4">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="porcentaje-ingles-clase">
                    ¿Indique el porcentaje aproximado de tiempo de uso del idioma inglés durante la clase?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-ingles-clase" value="0-24%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">0 -24%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-ingles-clase" value="25-49%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">25-49%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-ingles-clase" value="50-74%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">50-74%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-ingles-clase" value="75-100%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">75-100%</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 pr-4">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="incentivo-ingles-clase">
                    ¿Incentiva a sus estudiantes a hablar inglés durante las horas de clase de su asignatura?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentivo-ingles-clase" value="Nunca o Casi Nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentivo-ingles-clase" value="Algunas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentivo-ingles-clase" value="Muchas veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentivo-ingles-clase" value="Siempre o Casi Siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 pr-4">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="promocion-ingles-estudiantes">
                    Indique el porcentaje aproximado de tiempo que promueve el uso del idioma inglés entre estudiantes durante la clase.
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="promocion-ingles-estudiantes" value="0-24%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">0 -24%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="promocion-ingles-estudiantes" value="25-49%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">25-49%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="promocion-ingles-estudiantes" value="50-74%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">50-74%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="promocion-ingles-estudiantes" value="75-100%"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">75-100%</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

        

        <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
            Compromiso y Motivación 
        </h6>

        <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]">
                    ¿Existe un interés de parte de los padres en la importancia de la formación bilingüe?
                    <div class="mt-2 px-4">
                        <label class="inline-flex items-center">
                            <input type="radio" name="interes_formacion_bilingue" value="muy_en_desacuerdo"
                                class="interes-formacion-bilingue text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="interes_formacion_bilingue" value="en_desacuerdo"
                                class="interes-formacion-bilingue text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">En desacuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="interes_formacion_bilingue" value="de_acuerdo"
                                class="interes-formacion-bilingue text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="interes_formacion_bilingue" value="muy_de_acuerdo"
                                class="interes-formacion-bilingue text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                        </label>
                    </div>
                </label>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]">
                    ¿Considera que el PPB es una prioridad del CE?
                    <div class="mt-2 px-4">
                        <label class="inline-flex items-center">
                            <input type="radio" name="prioridad_ppb" value="muy_en_desacuerdo"
                                class="prioridad-ppb text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="prioridad_ppb" value="en_desacuerdo"
                                class="prioridad-ppb text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">En desacuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="prioridad_ppb" value="de_acuerdo"
                                class="prioridad-ppb text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="prioridad_ppb" value="muy_de_acuerdo"
                                class="prioridad-ppb text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                        </label>
                    </div>
                </label>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]">
                    ¿Los docentes asumen la responsabilidad de garantizar el cumplimiento de los contenidos y el avance de los estudiantes en el aprendizaje del inglés?
                    <div class="mt-2 px-4">
                        <label class="inline-flex items-center">
                            <input type="radio" name="responsabilidad_docentes" value="muy_en_desacuerdo"
                                class="responsabilidad-docentes text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="responsabilidad_docentes" value="en_desacuerdo"
                                class="responsabilidad-docentes text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">En desacuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="responsabilidad_docentes" value="de_acuerdo"
                                class="responsabilidad-docentes text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                        </label><br>
                        <label class="inline-flex items-center">
                            <input type="radio" name="responsabilidad_docentes" value="muy_de_acuerdo"
                                class="responsabilidad-docentes text-[#483eff] border-gray-300">
                            <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                        </label>
                    </div>
                </label>
            </div>
        </div>


    </div>


    <div class="btns flex justify-between">
        <div class="prev-stp-8 visita mt-6 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="button">Atrás</div>
            <div class="visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer" type="submit">
                <span class="block">Guardar y continuar luego</span>
            </div>
            <div id="nxtButton-8"
            class="next-stp-8 visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit" style="cursor: pointer;">Siguiente</div>
    </div>

</div>

<script>

    //validaciones
    document.getElementById('nxtButton-8').addEventListener('click', function (e) {
        e.preventDefault();
        //const frecuenciaInteractuanActores = 

        if (1<2) {
            document.querySelector('.step-9').style.display = "flex";
            document.querySelector('.step-8').style.display = "none";
        }
    });

    // boton de atras
    const prevButton8 = document.querySelector('.prev-stp-8');
    prevButton8.addEventListener('click', function (event) {
        document.querySelector('.step-8').style.display = "none";
        document.querySelector('.step-7').style.display = "flex";
    })
</script>