<div class="stp step-3">
    <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
        Evaluación de la Enseñanza de Inglés
    </h6>
    <div class="flex flex-wrap">

        <!-- Pregunta raíz -->
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="frecuencia-habla-ingles">
                    ¿Con qué frecuencia habla inglés con sus estudiantes durante las horas de clase de inglés?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-habla-ingles" value="nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-habla-ingles" value="algunas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-habla-ingles" value="muchas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-habla-ingles" value="siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <!-- Preguntas derivadas -->
        <!-- Porcentaje de tiempo de uso del inglés -->
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="porcentaje-tiempo-ingles">
                    ¿Indique el porcentaje aproximado de tiempo de uso del idioma inglés durante la clase?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-tiempo-ingles" value="0-24"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">0 - 24%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-tiempo-ingles" value="25-49"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">25 - 49%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-tiempo-ingles" value="50-74"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">50 - 74%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-tiempo-ingles" value="75-100"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">75 - 100%</span>
                    </label>
                </div>
            </div>
        </div>

        <!-- Incentiva hablar inglés -->
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="incentiva-hablar-ingles">
                    ¿Incentiva o promueve a sus estudiantes a hablar inglés durante las horas de clase de inglés?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentiva-hablar-ingles" value="nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentiva-hablar-ingles" value="algunas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentiva-hablar-ingles" value="muchas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="incentiva-hablar-ingles" value="siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <!--Porcentaje aproximado de tiempo promueve el uso del idioma inglés entre estudiantes durante la clase-->
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="porcentaje-promueve-ingles">
                    ¿Indique el porcentaje aproximado de tiempo que promueve el uso del idioma inglés entre
                    estudiantes
                    durante la clase?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-promueve-ingles" value="0-24"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">0 - 24%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-promueve-ingles" value="25-49"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">25 - 49%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-promueve-ingles" value="50-74"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">50 - 74%</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="porcentaje-promueve-ingles" value="75-100"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">75 - 100%</span>
                    </label>
                </div>
            </div>
        </div>

        <!-- Tiempo de diálogo en inglés -->
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="tiempo-dialogo-ingles">
                    ¿Con qué frecuencia dialoga o habla en inglés con cada estudiante?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="tiempo-dialogo-ingles" value="nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="tiempo-dialogo-ingles" value="algunas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="tiempo-dialogo-ingles" value="muchas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="tiempo-dialogo-ingles" value="siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="btns flex justify-between">
        <div class="prev-stp-3 visita mt-6 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit">Atrás</div>
            <div class="visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer" type="submit">
                <span class="block">Guardar y continuar luego</span>
            </div>

            <div id="nxtButton-3"
            class="visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit" style="cursor: pointer;">Siguiente</div>
    </div>
</div>

<script>
    document.getElementById('nxtButton-3').addEventListener('click', function (e) {
        e.preventDefault();
    
        const tiempoDialogoIngles = validateRadioGroup('tiempo-dialogo-ingles');
        const porcentajePromueveIngles = validateRadioGroup('porcentaje-promueve-ingles');
        const incentivaHablarIngles = validateRadioGroup('incentiva-hablar-ingles');
        const porcentajeTiempoIngles = validateRadioGroup('porcentaje-tiempo-ingles');
        const frecuenciaHablaIngles = validateRadioGroup('frecuencia-habla-ingles');

        if (tiempoDialogoIngles && porcentajePromueveIngles && incentivaHablarIngles && porcentajeTiempoIngles &&frecuenciaHablaIngles) {
            document.querySelector('.step-4').style.display = "flex";
            document.querySelector('.step-3').style.display = "none";
            activateCircleStep(4);
        }
    });


    // Manejador de eventos para ocultar setCustomValidity cuando se escribe input
    document.addEventListener('DOMContentLoaded', function () {
        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => {
            input.addEventListener('input', function () {
                this.setCustomValidity('');
            });
        });
    });


    // boton atras
    const prevButton3 = document.querySelector('.prev-stp-3');
    prevButton3.addEventListener('click', function(event){
            document.querySelector('.step-3').style.display = "none";
            document.querySelector('.step-2').style.display = "flex";
        })
   
</script>