<div class="stp step-7">
    <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
        Uso de Recursos en la Clase de Inglés
    </h6>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="importancia-formacion-bilingue">
                    ¿Existe un interés de parte de los padres de la importancia de la formación bilingüe?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="importancia-formacion-bilingue" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="importancia-formacion-bilingue" value="desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="importancia-formacion-bilingue" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="importancia-formacion-bilingue" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="valoracion-formacion-bilingue">
                    ¿Ven los padres y estudiantes esta formación como valiosa?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="valoracion-formacion-bilingue" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="valoracion-formacion-bilingue" value="desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="valoracion-formacion-bilingue" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="valoracion-formacion-bilingue" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="involucramiento-direccion-CE">
                    ¿Está la dirección del CE involucrada en el desarrollo del PPB?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="involucramiento-direccion-CE" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="involucramiento-direccion-CE" value="desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="involucramiento-direccion-CE" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="involucramiento-direccion-CE" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="expectativas-director">
                    ¿Las expectativas del director sobre mí como docente del Panamá Bilingüe son altas?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="expectativas-director" value="si"
                            class="br-input text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="expectativas-director" value="no"
                            class="br-input text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="responsabilidad-director">
                    El director asume la responsabilidad de garantizar los niveles de desempeño de la instrucción y los criterios para evaluar el conocimiento de los estudiantes
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="responsabilidad-director" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="responsabilidad-director" value="en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">En desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="responsabilidad-director" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="responsabilidad-director" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>



    </div>


    <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
        Aspectos Cualitativos
    </h6>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="prioridad-ppb">
                    ¿Considera que el PPB es una prioridad del CE?
                </label>
                <div class="mt-2 mx-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="participacion-padres">
                    ¿Participan los padres en el proceso de enseñanza aprendizaje?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="participacion-padres" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="participacion-padres" value="desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="participacion-padres" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="participacion-padres" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div>

        
        <!-- Frecuencia de uso de recursos en la clase de inglés -->
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="frecuencia-recursos">
                    ¿Con qué frecuencia utiliza estos recursos en la clase de inglés?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-recursos" value="nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o Casi Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-recursos" value="algunas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Algunas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-recursos" value="muchas_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muchas veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia-recursos" value="siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o Casi Siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="acceso-recursos">
                    ¿Cuenta con libre acceso al uso de estos recursos para incluirlos en sus clases?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="acceso-recursos" value="si"
                            class="br-input text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="acceso-recursos" value="no"
                            class="br-input text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
        </div>

        

        

        <!-- <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-medium text-[#233559]" for="prioridad-ppb">
                    ¿Considera que el PPB es una prioridad del CE?
                </label>
                <div class="mt-2">
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="muy_en_desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy en desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="desacuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Desacuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">De acuerdo</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="prioridad-ppb" value="muy_de_acuerdo"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Muy de acuerdo</span>
                    </label>
                </div>
            </div>
        </div> -->

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" name="cooperacion-ppb">
                    ¿Existe cooperacion y participacion entre los profesores capacitados en PPB ? 
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="cooperacion-ppb" value="si" class="br-input text-[#483eff] border-gray-300"
                            >
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="cooperacion-ppb" value="no" class="br-input text-[#483eff] border-gray-300"
                            >
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
            
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" name="cooperacion-participacion-ppb">
                    ¿Existe cooperación y participación entre profesores capacitados en PPB y los profesores no capacitados en el Programa?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="cooperacion-participacion-ppb" value="si" class="br-input text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="cooperacion-participacion-ppb" value="no" class="br-input text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                </div>
            </div>
        </div>

    </div>

    

    <div class="btns flex justify-between">
        <div class="prev-stp-7 visita mt-6 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit">Atrás</div>

            <div class="visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer" type="submit">
                <span class="block">Guardar y continuar luego</span>
            </div>

            <div id="nxtButton-7"
                class="next-stp-7 visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                type="submit" style="cursor: pointer;">Enviar</div>
        </div>
</div>

<script>

    //validaciones
    document.getElementById('nxtButton-7').addEventListener('click', function (e) {
        e.preventDefault();
        

       
        const existeCooperacionProfNo = validateRadioGroup('cooperacion-participacion-ppb');
        const existeCooperacionProfesores = validateRadioGroup('cooperacion-ppb');
        const cuentaLibreAcceso = validateRadioGroup('acceso-recursos');
        const frecuenciaRecursosClase = validateRadioGroup('frecuencia-recursos');
        const participanPadresProc = validateRadioGroup('participacion-padres');
        const consideraPPBPriori = validateRadioGroup('prioridad-ppb');

        const elDirectorAsumeResp = validateRadioGroup('responsabilidad-director');
        const lasExpectativasDirector = validateRadioGroup('expectativas-director'); 
        const estaDireccionCEInv = validateRadioGroup('involucramiento-direccion-CE'); 
        const venLosPadresFormacion = validateRadioGroup('valoracion-formacion-bilingue'); 
        const existeInteresPadres = validateRadioGroup('importancia-formacion-bilingue'); 
        

        if (existeInteresPadres && venLosPadresFormacion && existeCooperacionProfNo && existeCooperacionProfesores && cuentaLibreAcceso && frecuenciaRecursosClase && participanPadresProc && consideraPPBPriori && elDirectorAsumeResp && lasExpectativasDirector && estaDireccionCEInv) {
            // Si todo es válido, proceder con la lógica para mostrar el siguiente paso
            window.location.href = '/gracias/';
        }
    });

    // boton atras
   



    //togle mostrar?
    function toggleEncargado(show) {
        document.getElementById('encargado-section').style.display = show ? 'block' : 'none';
    }
</script>
