<div class="stp step-5">
    <h6 class="text-xl font-bold text-[#233559] mb-6 text-center">
        Interacción en Inglés Fuera de Clase
    </h6>
    <div class="flex flex-wrap">
        <!-- Porcentaje de interacción con directivos o administrativos -->
        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="frecuencia_interaccion_directivos">
                    Frecuencia en la que usted como docente interactúa con directivos o administrativos en idioma
                    inglés dentro del centro educativo (fuera de las horas de clase)
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_directivos" value="nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_directivos" value="a_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">A veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_directivos" value="varias_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Varias veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_directivos" value="siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o casi siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="frecuencia_interaccion_docente">
                    Frecuencia en la que usted como docente interactúa con otros docente en idioma inglés dentro del
                    centro educativo (fuera de las horas de clase)
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_docente" value="nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_docente" value="a_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">A veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_docente" value="varias_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Varias veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_docente" value="siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o casi siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="frecuencia_interaccion_padres">
                    Frecuencia en la que usted como docente interactúa con padres de familia en idioma inglés dentro
                    del centro educativo (fuera de las horas de clase)
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_padres" value="nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_padres" value="a_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">A veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_padres" value="varias_veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Varias veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="frecuencia_interaccion_padres" value="siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o casi siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="interactua-estudiantes">
                    Frecuencia con la que usted Interactúa con los estudiantes en idioma inglés dentro del centro
                    educativo (fuera de las horas de clase).
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="interactua-estudiantes" value="nunca-casi-nunca"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Nunca o casi nunca</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="interactua-estudiantes" value="a-veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">A veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="interactua-estudiantes" value="varias-veces"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Varias Veces</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="interactua-estudiantes" value="siempre-casi-siempre"
                            class="text-[#483eff] border-gray-300">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Siempre o casi siempre</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="actividades-fuera-aula">
                    ¿Se realizan actividades en inglés fuera del aula de clases (dentro de su práctica docente)?
                </label>
                <div class="mt-2 px-4">
                    <label class="inline-flex items-center">
                        <input type="radio" name="actividades-fuera-aula" value="si"
                            class="br-input text-[#483eff] border-gray-300" id="actividades-ingles-si"
                            onclick="toggleActividades('si')">
                        <span class="ml-2 text-sm font-medium text-[#233559]">Sí</span>
                    </label><br>
                    <label class="inline-flex items-center">
                        <input type="radio" name="actividades-fuera-aula" value="no"
                            class="br-input text-[#483eff] border-gray-300" id="actividades-ingles-no"
                            onclick="toggleActividades('no')">
                        <span class="ml-2 text-sm font-medium text-[#233559]">No</span>
                    </label>
                    <div id="cuales-actividades" style="display:none; padding-top: 0.5rem;">
                        <div class="flex flex-col">
                            <label class="text-sm font-bold text-[#233559] mb-2"
                                for="cuales-actividades-out">¿Cuáles?</label>
                            <div class="flex items-center">
                                <input type="text" id="actividad-input" name="cuales-actividades-out"
                                    class="br-input input-field pr-2 mr-2 w-full border-gray-300 rounded-lg shadow-sm"
                                    placeholder="Ejemplo: Música">
                                <button type="button" id="add-actividad" class="add-btn">Añadir</button>
                            </div>
                        </div>
                        <div class="">
                            <ul id="actividad-list" class="item-list list-disc pl-8">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function toggleActividades(value) {
                var display = value === 'si' ? 'block' : 'none';
                document.getElementById('cuales-actividades').style.display = display;
            }

            function setupList(addButtonId, inputId, listId) {
                document.getElementById(addButtonId).addEventListener('click', function () {
                    var input = document.getElementById(inputId);
                    var list = document.getElementById(listId);
                    var actividadName = input.value.trim();

                    if (actividadName) {
                        var listItem = document.createElement('li');
                        listItem.classList.add('flex', 'justify-between', 'items-center', 'bg-white', 'text-[#233559]', 'p-2', 'rounded-lg', 'border-b', 'border-gray-300');

                        var textSpan = document.createElement('span');
                        textSpan.textContent = actividadName;
                        listItem.appendChild(textSpan);

                        // Botón de eliminar
                        var deleteBtn = document.createElement('i');
                        deleteBtn.classList.add('fas', 'fa-trash');
                        deleteBtn.onclick = function () {
                            list.removeChild(listItem);
                        };
                        listItem.appendChild(deleteBtn);

                        // Botón de editar
                        var editBtn = document.createElement('i');
                        editBtn.classList.add('fas', 'fa-edit');
                        editBtn.onclick = function () {
                            var newName = prompt("Editar el nombre de la actividad:", textSpan.textContent);
                            if (newName.trim() !== '') {
                                textSpan.textContent = newName;
                            }
                        };
                        listItem.appendChild(editBtn);

                        list.appendChild(listItem);
                        input.value = '';
                    } else {
                        alert('Por favor, escriba el nombre de una actividad.');
                    }
                });
            }

            document.addEventListener('DOMContentLoaded', function () {
                setupList('add-actividad', 'actividad-input', 'actividad-list');
            });
        </script>




        <style>
            .select-personalizado {
                font-size: 0.875rem;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }
        </style>

        <div class="w-full lg:w-6/12 px-4 mb-3">
            <div class="relative w-full mb-3">
                <label class="block text-sm font-bold text-[#233559]" for="frecuencia-actividades">
                    ¿Con qué frecuencia se realizan estas actividades en inglés fuera del aula de clases?
                </label>
                <div class="flex flex-col px-4">
                    <!-- Trimestre -->
                    <div class="mt-2 flex items-center justify-between">
                        <span class="text-sm font-medium text-[#233559] mr-2">Trimestral</span>
                        <select id="trimestre" name="trimestre"
                            class="br-input w-full border-gray-300 rounded-lg shadow-sm focus:border-[#483eff] focus:ring-[#483eff] shadow-blue-500/50 select-personalizado">
                            <option value="">Selecciona una opción</option>
                            <option value="nunca-casi-nunca">Nunca o casi nunca</option>
                            <option value="a-veces">A veces</option>
                            <option value="varias-veces">Varias Veces</option>
                            <option value="siempre-casi-siempre">Siempre o casi siempre</option>
                        </select>
                    </div>

                    <!-- Mes -->
                    <div class="mt-2 flex items-center justify-between">
                        <span class="text-sm font-medium text-[#233559] mr-2">Mensual</span>
                        <select id="mes" name="mes"
                            class="br-input w-full border-gray-300 rounded-lg shadow-sm focus:border-[#483eff] focus:ring-[#483eff] shadow-blue-500/50 select-personalizado">
                            <option value="">Selecciona una opción</option>
                            <option value="nunca-casi-nunca">Nunca o casi nunca</option>
                            <option value="a-veces">A veces</option>
                            <option value="varias-veces">Varias Veces</option>
                            <option value="siempre-casi-siempre">Siempre o casi siempre</option>
                        </select>
                    </div>

                    <!-- Semana -->
                    <div class="mt-2 flex items-center justify-between">
                        <span class="text-sm font-medium text-[#233559] mr-2">Semanal</span>
                        <select id="semana" name="semana"
                            class="br-input w-full border-gray-300 rounded-lg shadow-sm focus:border-[#483eff] focus:ring-[#483eff] shadow-blue-500/50 select-personalizado">
                            <option value="">Seleccione opción</option>
                            <option value="nunca-casi-nunca">Nunca o casi nunca</option>
                            <option value="a-veces">A veces</option>
                            <option value="varias-veces">Varias Veces</option>
                            <option value="siempre-casi-siempre">Siempre o casi siempre</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="btns flex justify-between">
        <div class="prev-stp-5 visita mt-6 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit">Atrás</div>

        <div class="visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer"
            type="submit">
            <span class="block">Guardar y continuar luego</span>
        </div>

        <div id="nxtButton-5"
            class="next-stp-5 visita mt-6 flex justify-center items-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#483eff] hover:bg-[#665eff] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            type="submit" style="cursor: pointer;">Siguiente</div>
    </div>
</div>




<script>
    // Validaciones
    document.getElementById('nxtButton-5').addEventListener('click', function (e) {
        e.preventDefault();

        const semanaValida = validateInput(document.getElementById('semana'));
        const mesValido = validateInput(document.getElementById('mes'));
        const trimestreValido = validateInput(document.getElementById('trimestre'));
        const actividadesFueraAulaInp = document.querySelector('input[name="actividades-fuera-aula"]:checked');
        const actividadesFueraAula = validateRadioGroup('actividades-fuera-aula');
        const frecuenciaDocenteEstudiante = validateRadioGroup('interactua-estudiantes');
        const frecuenciaDocentePadres = validateRadioGroup('frecuencia_interaccion_padres');
        const frecuenciaDocenteDocente = validateRadioGroup('frecuencia_interaccion_docente');
        const frecuenciaDocenteDirectivo = validateRadioGroup('frecuencia_interaccion_directivos');


        let isValidActividades = true; 
        if (actividadesFueraAulaInp && actividadesFueraAulaInp.value === 'si') {
            const actividadesList = document.getElementById('actividad-list').getElementsByTagName('li').length;
            isValidActividades = actividadesList > 0; 
            if (!isValidActividades) { 
                const actividadInput = document.getElementById('actividad-input');
                actividadInput.setCustomValidity('Añade al menos una actividad.');
                actividadInput.reportValidity();
            } else {
                document.getElementById('actividad-input').setCustomValidity('');
            }
        }

        // Solo avanzar si todas las validaciones son correctas
        if (trimestreValido && mesValido && semanaValida && actividadesFueraAulaInp && frecuenciaDocenteDirectivo && frecuenciaDocenteDocente && frecuenciaDocentePadres && frecuenciaDocenteEstudiante && actividadesFueraAula && isValidActividades) {
            document.querySelector('.step-6').style.display = "flex";
            document.querySelector('.step-5').style.display = "none";
            activateCircleStep(6);
        }
    });

    // Manejador de eventos para ocultar setCustomValidity cuando se escribe input
    document.addEventListener('DOMContentLoaded', function () {
        const inputs = document.querySelectorAll('input');
        inputs.forEach(input => {
            input.addEventListener('input', function () {
                this.setCustomValidity('');
            });
        });
    });

    const prevButton5 = document.querySelector('.prev-stp-5');
    prevButton5.addEventListener('click', function (event) {
        document.querySelector('.step-5').style.display = "none";
        document.querySelector('.step-4').style.display = "flex";
    })
</script>